#design:hover > #designheading{
  transform: translateY(-25px);
  transition: all 1s ease 0s;
}

#designrow1 {
  background-color: #034078;
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1000px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.designsubheading {
  width: 480px;
}

.designskills {
  width: 500px;
  position: absolute;
  bottom: 75px;
  right: 65px;
}



/*GALLERY NEW*/
#myBtnContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
 
  width: 1210px;
}

.btn {
  transition-duration: .5s;
  
  width: 450px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #7c9ece;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  margin: 5px;
}

.btn:hover {
  background-color: #034078;
  color: white;
}

.btn.active {
  background-color: black;
  color: white;
}


.content img {
  width: 385px;
  height: 481.22px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}

.column {
  width: 385px;
  height: 550px;

  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
  margin-top: 10px;
  margin-bottom: 25px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.designgalleryprojecttitle {
  margin: 0px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
  color: black;
}

.designgalleryprojectp {
  margin: 0px;
  padding-left: 15px;
  font-size: 12px;
  color: dimgray;
}

.column {
  display: none;
}

.show {
  display: block;
}




